@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

.leaflet-container {
  height: 100%;
  width: 100%;
}

@keyframes glowPulse {
  0% {
    text-shadow: 0 0 6px currentColor;
    opacity: 0.85;
  }
  50% {
    text-shadow:
      0 0 12px currentColor,
      0 0 22px currentColor;
    opacity: 1;
  }
  100% {
    text-shadow: 0 0 6px currentColor;
    opacity: 0.9;
  }
}

.glow-letter {
  animation: glowPulse 2.8s ease-in-out infinite;
}


@keyframes fadeGlow {
  0% {
    opacity: 0;
    letter-spacing: -2px;
    filter: blur(4px);
  }
  50% {
    opacity: 0.7;
    letter-spacing: 1px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0px;
    filter: blur(0px);
  }
}

.brand-animate {
  animation: fadeGlow 1.6s ease-out forwards;
}
